<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Simples</title>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form action="#" method="post">
      <input type="email" name="email" placeholder="Digite seu email aqui(fulana@gmail.com)" required>
      <input type="password" name="senha" placeholder="Digite sua senha aqui" required>
      <button type="submit">Acessar</button>
      <p>Não possui conta? <a href="cadastro.html">Cadastre-se.</a></p>
    </form>
  </div>
</body>
</html>
