{% extends "base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}
  <div class="cadastro-box">
    <h2 class="cadastro-titulo">CADASTRO</h2>
    <p class="subtitulo">Digite seus dados para se cadastrar</p>

    {% if error %}
      <div class="erro">{{ error }}</div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <label for="nome">Nome Completo</label>
      <input type="text" name="nome" placeholder="Digite seu nome" required>

      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Digite seu email Ex.:fulana@gmail.com" required>

      <label for="senha">Senha</label>
      <input type="password" name="senha" placeholder="Digite sua senha" required>

      <div class="grupo-horizontal">
        <div class="grupo-input">
          <label for="idade">Idade</label>
          <input type="number" name="idade" placeholder="Sua idade" required>
        </div>

        <div class="grupo-input">
          <label>Gênero</label>
          <div class="radio-group">
            <label><input type="radio" name="sexo" value="F"> Feminino</label>
            <label><input type="radio" name="sexo" value="M"> Masculino</label>
            <label><input type="radio" name="sexo" value="O"> Outro</label>
          </div>
        </div>
      </div>

      <p class="info-campos">*Todos os campos são obrigatórios</p>

      <p class="link-login">Já possui conta? <a href="{% url 'login' %}">Entre</a></p>

      <button type="submit">Cadastrar</button>
    </form>
  </div>
{% endblock %}

